
<hmtl>
	title Sea Cruises
	link(href="https://fonts.googleapis.com/css?family=Raleway:400,400i,700|Roboto+Slab&amp;subset=cyrillic-ext" rel="stylesheet")
	link(rel='stylesheet' href='css/style.css')
	link(href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet")
	body
		header
			nav.navigation
				.container
					.main-nav
						.burger-menu
							img(src="img/menu.png" width="22" height="16" alt="Menu")
						ul.menu
							li.menu-item
								a(href="#") Личный кабинет
							li.menu-item
								a(href="#") Рубль
							li.menu-item
								a(href="#") Ru
						.phone
							p 8 800 500-61-05 
							span Круглосуточная поддержка
					.logo-group
						.logo__image
							img(src="img/wind_rose.png" width="70" height="70" alt="Wind Rose")
							h2 Морские прогулки
							p по чёрному морю
							button.button__general.button__logo
								a(href="#") Выбрать круиз
		main
			.catalog
				.container
					h3 Каталог круизов
					p.sorting Сортировать круизы по цене
					.cards.container_x.clearfix
						.card
							img(src="img/lighthouse-desk.png" width="100%" alt="Lighthouse")
							.card-description
								h4 
									| Морской круиз 
									| в Анапу
								.card-description__title
									p Маршрут: 
									span Сочи-Лазаревское-Геленджик-Анапа
									br
									p Продолжительность: 
									span 10 ч. 0 мин.
								.card-description__price
									| 49 000 руб.
								.card__special.hit__special
									span Хит продаж		
						.card
							img(src="img/kater-desk.png" width="100%" alt="Kater")
							.card-description
								h4 Обзорная морская прогулка с экскурсией
								.card-description__title
									p Маршрут: 
									span 
										| Сочи-Адлер-Сочи
										br
										| (без высадки)
									br
									p Продолжительность: 
									span 1 ч. 0 мин.
								.card-description__price
									| 5 000 руб. 
									span.out 15 000 руб.
								.card__special.discount__special
									span Акция
						.card
							img(src="img/beach-desk.png" width="100%" alt="Beach")
							.card-description
								h4 Морская прогулка в&nbspГеленджик
								.card-description__title
									p Маршрут: 
									span Сочи-Туапсе-Геленджик
									br
									p Продолжительность: 
									span 12 ч. 30 мин.
								.card-description__price
									| 7 000 руб. 
									span.out 15 000 руб.
								.card__special.discount__special
									span Скидка 10%
						.card
							img(src="img/harbor-desk.png" width="100%" alt="Harbor")
							.card-description
								h4 Морской круиз в&nbspНовороссийск
								.card-description__title
									p Маршрут: 
									span Сочи-Геленджик-Новороссйиск-Геленджик-Сочи
									br
									p Продолжительность: 
									span 13 ч. 0 мин.
								.card-description__price
									| 14 800 руб.
						.card
							img(src="img/sea-desk.png" width="100%" alt="Sea")
							.card-description
								h4 Морская прогулка в Абрау-Дюрсо  
								.card-description__title
									p Маршрут: 
									span Сочи-Абрау-Дюрсо
									br
									p Продолжительность: 
									span 11 ч. 0 мин.
								.card-description__price
									| 14 800 руб.
					button.button__general.button__catalog
								a(href="#") Больше круизов
		footer
			.container
				.main-footer
					ul.footer__links
						li
							a(href="#") Вход для партнеров
						li
							a(href="#") О компании
						li
							a(href="#") Контакты
					.footer__social
						p Будь на связи:
						.social-icon
							.social-btn
								.social-btn-vk
							.social-btn
								.social-btn-ok
							.social-btn
								.social-btn-yt
							.social-btn
								.social-btn-insta
					.footer__contacts
						.phone
							p 8 800 500-61-05 
							span Круглосуточная поддержка
						.copyright
							| © 2016 OOO «Городские Круизы»

</html>
